* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form {
    min-width: 400px;
    max-width: 800px;
}

fieldset {
    background-color: lightgray;
    padding: 1rem;
}

fieldset:not(:nth-of-type(2)) {
    border-bottom: 5px solid black;
}

fieldset:hover {
    background-color: gray;
}

input:required {
    border-color: red;
}

#sendForm {
    color: white;
    background-color: black;
    border: none;
}
